@import "App";

.cartBorder{
    border: solid $secondColor 2pt;
    width: 100%;
    border-radius: .25rem;
    padding-left: 3%;
    padding-right: 3%;
}

.centerAlign{
    text-align: center;
}

.bottomBorder{
    border-bottom: solid $secondColor 2pt;
    padding-top: 5%;
}

.cartItem{
    color: $mainColor;
    text-align: center;
}

.fadeIn{
    opacity:1;
    transition: opacity 2s;
    color: $mainColor;

}
.fadeOut{
    opacity:0;
}

.rmvBtn{
    color: white;
    background-color: red;
}
